.header {
 height: 20vh;
 border-style: solid;
 border-color: blue; 
}

.btn-container {
 height: 10vh;
 display: flex;
 justify-content: space-between;
 border-style: solid;
 border-color: gold;
 margin-top: 10px;   
}

.library {
 display: flex;
 gap: 10px;
 height: 65vh;
 border-style: solid;
 border-color: crimson;
 margin-top: 10px;   
}

.footer {
 height: 5vh;
 border-style: solid;
 border-color: rebeccapurple;
 margin-top: 5px;   
}










#pop-up-form {
 border-style: solid;
 position: fixed;
 min-height: 8rem;
 width: 14rem;
 left: 35%;
 z-index: 1;
 top: 5%;
}

#popup-form {
 width: inherit;
 padding: 10px;
 display: grid;
 grid-template-rows: repeat(4,1fr);
 row-gap: 10px;
}

#popup-form-button {
 height: 2em;
 width: 4em;
}

button[id^='tbcon'] {
 height: 2em;
 width: 4em;   
}

div[id^='tbcon'] {
 display: grid;
 border-style: solid;
 border-color: black;
 border-radius: 10px;
 height: 14rem;
 width: 10rem;
 padding: 2rem;   
}

