.header {
 display: flex;
 min-height: 20vh;
 border-style: solid;
 border-color: blue;
 justify-content: center; 
}

.btn-container {
 min-height: 10vh;
 display: flex;
 justify-content: space-around;
 border-style: solid;
 border-color: gold;
 margin-top: 10px;
 align-items: center;   
}

.begin {

}

.middle-btn {

}

.end {
 display: flex;
 gap: 1em;
 align-content: center;   
}

.end-btn {
 display: grid;
 align-content: center; 
}

.library {
 padding: 10px;
 display: flex;
 gap: 10px;
 flex-wrap: wrap;
 min-height: 65vh;
 border-style: solid;
 border-color: crimson;
 margin-top: 10px;
 justify-content: center;   
}

.footer {
 min-height: 5vh;
 border-style: solid;
 border-color: rebeccapurple;
 margin-top: 5px;   
}










#pop-up-form {
 border-style: solid;
 position: fixed;
 min-height: 8rem;
 width: 14rem;
 left: 35%;
 
 top: 5%;
}

#popup-form {
 width: inherit;
 padding: 10px;
 display: grid;
 grid-template-rows: repeat(4,1fr);
 row-gap: 10px;
}

#popup-form-button {
 height: 2em;
 width: 4.5em;
}

#btncon {
 display: flex;
 justify-content: space-between;   
}



button[id^='tbcon'] {
 height: 2em;
 width: 4.5em;   
}

div[id^='tbcon'] {
 display: grid;
 border-style: solid;
 border-color: black;
 border-radius: 10px;
 height: 12rem;
 width: 10rem;
 padding: 2rem;   
}

.read {
 background-color: red;   
}

